.page-style {
    background: url("images/LandingPageBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.title{
    font-family: var(--cf-title-font);
    font-size: 2.5rem;
    color: var(--cf-title-color);
    line-height: 2.5rem;
}

.subtitle {
    font-size: 1rem;
    font-family: var(--cf-body-font);
}

.devicons {
    font-size: 2rem;
    border: 0 solid !important;
    outline: none;
}
@media  (mix-height: 992px) {

    .title {
        font-family: var(--cf-title-font);
        font-size: 3.5rem;
        color: var(--cf-title-color);
        line-height: 2.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
        font-family: var(--cf-body-font);
    }

    .devicons {
        font-size: 2.5rem;
    }
}