@page "/themes"
@inject IJSRuntime JS;

<PageTitle>Template Themes</PageTitle>

<div class="mt-5">
    <h1 class="text-center">Build in themes for your templates</h1>

    <div class="d-flex flex-wrap gap-3 align-items-center justify-content-center my-3">
        @foreach (string theme in SiteThemes)
        {
            <div class="card" data-cf-theme="@theme">
                <div class="card-body">
                    <h3 class="card-title d-flex align-items-center">
                        Theme:&nbsp;<span style="color: var(--cf-theme-core)">@theme</span>
                        <button class="ms-auto btn btn-sm btn-primary" @onclick="() =>SetTheme(theme)">Set Theme</button>
                    </h3>
                    <h6 class="small fw-bold mt-3">Palette</h6>
                    <div class="d-flex gap-0 align-items-center">
                        @foreach (var weight in Weights)
                        {
                            <div style="background-color: var(--cf-theme-@weight); width: 16px; height: 16px;" class=""></div>
                        }
                    </div>
                    <div class="my-3">
                        <button class="btn btn-sm btn-primary m-2">Primary Button</button>
                        <button class="btn btn-sm btn-light m-2">Light Button</button>
                        <button class="btn btn-sm btn-dark m-2">Dark Button</button>
                    </div>
                    <div>
                        Text with a <a href="#">Clickable link</a> in the middle.
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    List<string> SiteThemes = new()
    {
        "code-magic","blue","indigo","purple","pink","red","orange","yellow","green","teal","cyan","gray"
    };

    List<string> Weights = new()
    {
        "core","100","150","200","300","400","500","600","700","800","850","900"
    };

    public async Task SetTheme(string theme)
    {
        await JS.InvokeVoidAsync("setTheme", theme);
    }
}
